.rotating-text-container {
  position: relative;
  height: 30px;
  overflow: hidden;
}

.rotating-text {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 30px;
  opacity: 0;
  animation: slide 6s infinite;
}

@keyframes slide {
  0% {
    transform: translateY(100%);
    opacity: 1;
  }
  10%,
  30% {
    transform: translateY(0);
    opacity: 1;
  }
  40%,
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@media (min-width: 768px) {
  .rotating-text-container {
    margin-left: -14.5vw;
  }
}
