@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 mx-auto text-start;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  max-width: 1440px;
}
