@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 mx-auto text-start;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  max-width: 1440px;
}

@keyframes slide-ux {
  0%,
  16.666% {
    transform: translateY(0%);
    opacity: 1;
  }
  33.333% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-product {
  0%,
  33.333% {
    transform: translateY(100%);
    opacity: 0;
  }
  33.334%,
  50% {
    transform: translateY(0%);
    opacity: 1;
  }
  66.666% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes slide-engineer {
  0%,
  66.666% {
    transform: translateY(100%);
    opacity: 0;
  }
  66.667%,
  83.333% {
    transform: translateY(0%);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.animate-slide-ux {
  animation: slide-ux 6s infinite;
}

.animate-slide-product {
  animation: slide-product 6s infinite;
}

.animate-slide-engineer {
  animation: slide-engineer 6s infinite;
}
