@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-100 mx-auto text-start;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  max-width: 1440px;
}

.scroll-container {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.scroll-item {
  position: absolute;
  width: 100%;
  transform: translateY(100%);
  opacity: 0;
  transition: transform 1s ease, opacity 1s ease;
}

.scroll-item.visible {
  transform: translateY(0%);
  opacity: 1;
}

.scroll-item:not(.visible) {
  transform: translateY(-100%);
  opacity: 0;
}
